{% set colours = app.session.get('colours') %}
    {% if colours is null %}
        {% set colours = { 'foreground': 'brown',
        'background': 'lightyellow'
        }
        %}
    {% endif %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>
        @import '/css/flash.css';
        @import '/css/form.css';
        @import '/css/header.css';
        {% block stylesheets %}
        {% endblock %}
        body{
            color:{{ colours['foreground'] }};
            background-color:{{ colours['background'] }};
        }
    </style>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% set user = app.session.get('user') %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Username: {{ app.user.username }}</p>
        <p>
            <a href="{{ path('profile') }}">Go to account</a>
        </p>
        <P>
            <a href="{{ path('admin_index') }}">Go to admin page</a>
        </P>
{% else %}
    <p>
        error - you are not logged in: <a href="{{ path('login') }}">login</a>
    </p>
{% endif %}

<hr>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>