{% extends '_base.html.twig' %}
{% block pageTitle %}profile page{% endblock %}

{% block body %}
    <h1>Welcom to your account</h1>
    <p>
        <a href="{{ path('tag_index') }}">Tags list</a>
    </p>
    <p>
        <a href="{{ path('comment_index') }}">Comments list</a>
    </p>
    <p>
        <a href="{{ path('recipe_index') }}">Recipes list</a>
    </p>
    <p>
        <a href="{{ path('recipe_list') }}">Recipes list(public)</a>
    </p>
    <p>
        <a href="{{ path('recipe_list_private') }}">Collections of recipes(private)</a>
    </p>
    <p>
        <a href="{{ path('recipe_search') }}">search result by date ascendant</a>
    </p>
    <p>
        <a href="{{ path('homepage') }}">Back to home page</a>
    </p>


{% endblock %}