{% extends '_base.html.twig' %}
{% block paeTitle %}list of recipes{% endblock %}
{% block body %}
    <ul>
        <li>
            <a href="{{ path('tag_list') }}">List of Tags</a>
        </li>
        <li>
            <a href="{{ path('recipe_index') }}">List of Recipes</a>
        </li>
    </ul>
{% set basket_recipes = app.session.get('basket') %}

{% if basket_recipes is null %}
<p>
    You have no recipes in your list
</p>
{% else %}
    <ul>
        {% for recipe in basket_recipes %}
        <li>
            id: {{ recipe.id }}
            <br>
            Recipe Title: {{ recipe.title }}
            <br>
            Recipe Summary: {{ recipe.summary }}
            <br>
            Recipe Steps: {{ recipe.steps }}
            <br>
            Recipe Ingredients: {{ recipe.ingredients }}
            <br>
            Author's username: {{ recipe.author }}
            <br>
            Vote Up: {{ recipe.votUp }}
            <br>
            Vote Down: {{ recipe.votDown }}
            <br>
            <a href="{{ path('recipes_basket_delete',{'id':recipe.id}) }}">(remove)</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
<p>
    <a href="{{ path('recipes_basket_clear') }}">Clear all items in list</a>
</p>
{% endblock %}