{% extends '_base.html.twig' %}
{% block stylesheets %}
    @import '/css/table.css';
{% endblock %}
{% block paeTitle %}list of recipes{% endblock %}
{% block body %}
 <h1>Recipes Lists:</h1>
{% set basket_recipes = app.session.get('basket') %}

{% if basket_recipes is null %}
<p>
    There are no recipes in the lists.
</p>
{% else %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Steps</th>
            <th>Ingredients</th>
            <th>Author</th>
            <th>Votdown</th>
            <th>Votup</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in basket_recipes %}
            <tr>
                <td><a href="{{ path('recipe_show', { 'id': recipe.id }) }}">{{ recipe.id }}</a></td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.author }}</td>
                <td>{{ recipe.votDown }}</td>
                <td>{{ recipe.votUp }}</td>
                <td>
                    <ul>
                        <a href="{{ path('recipes_basket_delete',{'id':recipe.id}) }}">(remove)</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}
<p>
    <a href="{{ path('recipes_basket_clear') }}">Clear all items in list</a>
</p>

{% endblock %}