{% extends '_base.html.twig' %}
{% block paeTitle %}list of recipes{% endblock %}
{% block body %}
 <h1>Collected Recipes:</h1>
{% set basket_recipes = app.session.get('basket') %}

{% if basket_recipes is null %}
<p>
    You have no recipes in your list
</p>
{% else %}
    <ul>
        {% for recipe in basket_recipes %}
        <li>
            id: {{ recipe.id }}
            <br>
            <strong>Recipe Title:</strong> {{ recipe.title }}
            <br>
            <strong>Recipe Summary:</strong> {{ recipe.summary }}
            <br>
            <strong>Recipe Steps:</strong> {{ recipe.steps }}
            <br>
            <strong>Recipe Ingredients:</strong> {{ recipe.ingredients }}
            <br>
            <strong>Author's name:</strong> {{ recipe.author }}
            <br>

            <a href="{{ path('recipes_basket_delete',{'id':recipe.id}) }}">(remove)</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
<p>
    <a href="{{ path('recipes_basket_clear') }}">Clear all items in list</a>
</p>
{% endblock %}