{% extends '_base.html.twig' %}
{% block pageTitle %}New Tag Form{% endblock %}
{% block body %}
<h1>Create new Tag</h1>
    {{ form_start(form) }}
    <div class="form-field">
        <div class="errors">
            {{ form_errors(form.name) }}
        </div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>

    {% endfor %}
{% endblock %}