{% extends '_base.html.twig' %}

{% block stylesheets %}
    @import '/css/table.css';
{% endblock %}

{% block body %}
    <h1>Recipes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Steps</th>
                <th>Ingredients</th>
                <th>Authoruser</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.recipeTitle }}</td>
                <td>{{ recipe.recipeSummary }}</td>
                <td>{{ recipe.recipeSteps }}</td>
                <td>{{ recipe.recipeIngredients }}</td>
                <td>{{ recipe.authorUsername }}</td>
                <td>{{ recipe.comments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('homepage') }}">back to home page</a>
        </li>
    </ul>
{% endblock %}
