{% extends '_base.html.twig' %}
{% block stylesheets %}
    @import '/css/table.css';
{% endblock %}
{% block body %}
    <h1>Recipes list (published)</h1>

        <p>
            <a href="{{ path('homepage') }}">Back to home page</a>
        </p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Steps</th>
            <th>Ingredients</th>
            <th>Author</th>
            <th>Tag</th>
            <th>Comment</th>
            <th>Vote Up</th>
            <th>Vote Down</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.author }}</td>
                <td>{{ recipe.tag }}</td>
                <td>{{ recipe.comment }}</td>
                <td>{{ recipe.votUp }}</td>
                <td>{{ recipe.votDown }}</td>
                <td>{{ recipe.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
