{% extends '_base.html.twig' %}
{% block stylesheets %}
    @import '/css/table.css';
{% endblock %}
{% block body %}
    <h1>Collection of Recipes list (private)</h1>

    <p>
        <a href="{{ path('homepage') }}">Back to home page</a>
    </p>
    <p>
        <a href="{{ path('recipe_new') }}">Create a new recipe</a>
    </p>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Summary Image</th>
            <th>Steps</th>
            <th>Steps Image</th>
            <th>Ingredients</th>
            <th>Author</th>
            <th>Votdown</th>
            <th>Votup</th>
            <th>Tag</th>
            <th>Comment</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td><a href="{{ path('recipe_show', { 'id': recipe.id }) }}">{{ recipe.id }}</a></td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.summaryImage }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.stepImage }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.author }}</td>
                <td>{{ recipe.votDown }}</td>
                <td>{{ recipe.votUp }}</td>
                <td>{{ recipe.tag }}</td>
                <td>{{ recipe.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recipe_show', { 'id': recipe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_index') }}">Add Comment</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}