{% extends '_base.html.twig' %}
{% block stylesheets %}
    @import '/css/table.css';
{% endblock %}
{% block body %}
    <p>
        <a href="{{ path('homepage') }}">Back to home page</a>
    </p>
    <h1>Comments list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Comment list</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Recipe's comment list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Recipe Title</th>
            <th>Recipe Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
